sphinx~=4.3.1
sphinx-paramlinks~=0.5.1
sphinxcontrib-autoprogram~=0.1.7
bellybutton~=0.3.1
black~=22.3.0
mypy==0.942
myst-nb==0.16.0
hypothesis~=5.3.0
pydantic~=1.9.0
pylint~=2.6.0
pytest~=6.2.5
pytest-benchmark[histogram]~=3.2.3
pytest-xdist~=2.4.0
sphinx-rtd-theme~=0.5.0
types-PyYAML~=5.4.3
types-requests~=2.27
types-Markdown~=3.3.2
nbformat~=5.0.6
cmake-format~=0.6.10
isort~=5.5.4
docformatter~=1.4
docutils<0.17
setuptools
wheel
build
twine
